@charset "UTF-8";
html,
body {
    height: 100%;
    overscroll-behavior: none;
    background-color: #ffffff;
    color:black;
    transition: .6s;
}

.darktype {
    background-color: #111111;
}

.darktype main img {
    opacity: 0.7;
}

.gnav {
    transition: .6s;
}

.darktype .gnav {
    background-color: #111111;
    color: #ffffff;
}

.darktype img {
    opacity: 0.8;
}

.darktype h2 {
    color: rgba(255, 255, 255, 0.9)
}

.darktype span {
    color: rgba(255, 255, 255, 0.9)
}

.darktype #loader {
    color: #111111;
}

.darktype #loader div {
    background-color: #FFFFFF;
}


/* common ------------------------------------*/
.header:before {
    display: none;
}

@media screen and (max-width: 576px) {
    .header {
        background-color: transparent;
    }
}

@media screen and (max-width: 576px) {
    .header-reserve a {
        border-color: white;
        background-color: transparent;
        color: white;
    }
    .header-reserve a:hover {
        background-color: white;
        color: black;
    }
}

.first-page .header-reserve a {
    border-color: black;
    color: black;
}

.first-page .header-reserve a:hover {
    background-color: black;
    color: white;
}

.gnav_open .header-reserve a {
    border-color: black;
    color: black;
}

.gnav_open .header-reserve a:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 576px) {
    .menu div:before, .menu div:after {
        border-image-source: url(../images/common/img_border_wt_1px.png);
    }
}

.darktype .menu div:before {
    border-image-source: url(../images//common//img_border_wt_1px_dark.png);
}

.darktype .menu div:after {
    border-image-source: url(../images//common//img_border_wt_1px_dark.png);
}

@media screen and (max-width: 576px) {
    .first-page .menu div:before, .first-page .menu div:after {
        border-image-source: url(../images/common/img_border_bk_1px.png);
    }
}

.darktype .gnav-main__item:before {
    border-image-source: url(../images/common/img_border_bk_1px_dark.png);
}

.darktype .gnav-main__item:after {
    border-image-source: url(../images/common/img_border_bk_1px_dark.png);
}

.darktype .gnav-news-list__item:after {
    background-image: url(../images/common/icn_rhombus_dark.svg);
}

.darktype .gnav-main__item a:hover,
.darktype .gnav-main__item a.current,
.darktype .gnav-main__item div:hover,
.darktype .gnav-main__item div.current {
    background-color: rgba(255, 255, 255, 0.03);
}

.main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: .6s;
}

.first-page .head-logo {
    opacity: 0;
    pointer-events: none;
}

/* home --------------------------------------*/
.home {
    width: 100%;
    width: calc(100% - (40px + 4vw) * 2);
    height: calc(100vh - 80px);
    height: calc(var(--vh, 1vh) * 100 - 80px);
    padding-right: 0;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    top: 40px;
    left: calc(40px + 4vw);
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .home {
        width: calc(100% - 10px);
        height: calc(100vh - 10px);
        height: calc(var(--vh, 1vh) * 100 - 10px);
        top: 5px;
        left: 5px;
    }
}

.home-contents {
    width: 100%;
    height: 100%;
    padding: calc(40px + 4vw);
    background-color: black;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-transform 1.3s cubic-bezier(0.65, 0, 0.35, 1);
    transition: -webkit-transform 1.3s cubic-bezier(0.65, 0, 0.35, 1);
    transition: transform 1.3s cubic-bezier(0.65, 0, 0.35, 1);
    transition: transform 1.3s cubic-bezier(0.65, 0, 0.35, 1), -webkit-transform 1.3s cubic-bezier(0.65, 0, 0.35, 1);
}

@media screen and (max-width: 992px) {
    .home-contents {
        padding: 8vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .home-contents {
        width: 100%;
    }
}

.home-contents.pageScrollItem {
    position: absolute;
    top: 0;
    left: 0;
}

.home-contents#home {
    background-color: rgba(255, 255, 255, 0.9);
}

.darktype .home-contents#home{
    background-color: #111111;
    opacity: 0.8;
}

.home-contents::-moz-selection {
    background: white !important;
    color: black !important;
}

.home-contents::selection {
    background: white !important;
    color: black !important;
}

.home-logo {
    width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 2000ms cubic-bezier(0.33, 1, 0.68, 1) 1000ms;
    transition: opacity 2000ms cubic-bezier(0.33, 1, 0.68, 1) 1000ms;
}

@media screen and (max-width: 768px) {
    .home-logo {
        width: 50px;
    }
}

.pageCompleted .home-logo {
    opacity: 1;
}

.home__title {
    font-family: fz;
    letter-spacing: 0.2em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: calc((40px + 4vw) * 1.5);
    right: calc((40px + 4vw) * 2);
    z-index: 1;
    font-size: 3.6rem;
    line-height: 1.4;
    color: white;
    letter-spacing: 0.3em;
    opacity: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
    transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.home__title h1,
.home__title h2,
.home__title h3,
.home__title h4,
.home__title h5,
.home__title h6 {
    font-family: fz;
    letter-spacing: 0.1em;
    transition: .6s;
}

@media screen and (max-width: 1200px) {
    .home__title {
        top: calc((40px + 4vw) * 1.2);
        right: calc((40px + 4vw) * 1.2);
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 992px) {
    .home__title {
        position: relative;
        top: 0;
        left: 0;
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 576px) {
    .home__title {
        font-size: 2.2rem;
    }
}

.home__title:before, .home__title:after {
    content: "";
    width: 60px;
    height: 1px;
    display: block;
    background-color: white;
}

@media screen and (max-width: 992px) {
    .home__title:before, .home__title:after {
        width: 40px;
    }
}

.home__title:before {
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .home__title:before {
        margin-bottom: 20px;
    }
}

.home__title:after {
    margin-top: 30px;
}

@media screen and (max-width: 992px) {
    .home__title:after {
        margin-top: 20px;
    }
}

.active .home__title {
    opacity: 1;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

.home-main {
    font-family: fz;
    letter-spacing: 0.2em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    position: absolute;
    bottom: calc(40px + 4vw);
    left: calc((40px + 4vw) * 2);
    z-index: 1;

}

.home-main h1,
.home-main h2,
.home-main h3,
.home-main h4,
.home-main h5,
.home-main h6 {
    font-family: fz;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 992px) {
    .home-main {
        -webkit-writing-mode: lr-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: lr-tb;
    }
}

@media screen and (max-width: 1200px) {
    .home-main {
        bottom: calc((40px + 4vw) * 1.2);
        left: calc((40px + 4vw) * 1.2);
    }
}

@media screen and (max-width: 992px) {
    .home-main {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 80px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 768px) {
    .home-main {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 60px;
    }
}

.home-main-catch {
    font-size: 2.4rem;
    line-height: 2.2;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
    transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
}

@media screen and (max-width: 1200px) {
    .home-main-catch {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 992px) {
    .home-main-catch {
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .home-main-catch {
        line-height: 2;
    }
}

@media screen and (max-width: 576px) {
    .home-main-catch {
        display: none;
    }
}

.active .home-main-catch {
    opacity: 1;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}


.home-main-btn {
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
    transition: opacity 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.active .home-main-btn {
    opacity: 1;
    -webkit-transition-delay: 2.2s;
    transition-delay: 2.2s;
}

@media screen and (max-width: 576px) {
    .home-main-btn {
        max-width: 200px;
        margin: 0 auto;
    }
}

.home-main-btn a {
    width: 40px;
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.3rem;
    line-height: 1.4;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}

@media screen and (max-width: 992px) {
    .home-main-btn a {
        width: auto;
        height: 40px;
        padding: 0 20px;
    }
}

.home-main-btn a:hover {
    background-color: white;
    color: black;
}

.home__video {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: opacity 1.3s cubic-bezier(0.37, 0, 0.63, 1);
    transition: opacity 1.3s cubic-bezier(0.37, 0, 0.63, 1);
}

.home__video img,
.home__video video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.8;
}

.down .home__video {
    opacity: 0;
}

.home-pagination {
    width: calc(40px + 4vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.home-pagination li {
    width: 40px;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-pagination li:last-child {
    margin-bottom: 0;
}

.home-pagination__anc {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 1000ms cubic-bezier(0.65, 0, 0.35, 1);
    transition: height 1000ms cubic-bezier(0.65, 0, 0.35, 1);
}

.home-pagination__anc:before, .home-pagination__anc:after {
    content: "";
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 1000ms cubic-bezier(0.65, 0, 0.35, 1);
    transition: all 1000ms cubic-bezier(0.65, 0, 0.35, 1);
}

.home-pagination__anc:before {
    height: 0;
    background-color: black;
}

.darktype .home-pagination__anc:before {
    height: 0;
    background-color: #ffffff;
}

.home-pagination__anc:after {
    background-color: rgba(0, 0, 0, 0.15);
}

.darktype .home-pagination__anc:after {
    background-color: rgba(255, 255, 255, 0.15);
}

.home-pagination__anc.active {
    height: 50px;
}

.home-pagination__anc.active:before {
    height: 100%;
}

.home-pagination__anc:hover:before {
    height: 100%;
}

.scrollIndicator {
    top: auto;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .scrollIndicator {
        height: 40px;
    }
}
